   <div class="card weather-forecast">
      <div class="location"><%= current_wait_time.customs_office %></div>
      <div class="date"><%= current_wait_time.location %></div>
      <div class="description"><%= current_wait_time.last_updated %></div>
      <div class="current">
        <div class="visual">
          <div class="temperature">
            <span class="value"><%= current_wait_time.travellers_flow_canada_bound %></span>
          </div>
        </div>
        <div class="description">
          <div class="humidity"><%= current_wait_time.travellers_flow_us_bound %></div>
          <div class="wind"><%= current_wait_time.commercial_flow_canada_bound %></div>
          <div class="sunrise"><%= current_wait_time.commercial_flow_us_bound %></div>
        </div>
      </div>
    </div>
